<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">DANH SÁCH CÁC CUỐN SÁCH</h3>
  </div>
  <div class="panel-body">
    <button type = "button" class="btn btn-danger"[routerLink]="['/books/add']">Thêm Sách Mới</button>
    <table class="table table-bordered table-hover" [style.margin-top.px]="15">
      <thead>
      <tr>
        <th>STT</th>
        <th>Tên Sách</th>
        <th>Tác Giả</th>
        <th>Sửa</th>
        <th>Xóa</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of booksmodels; let id = index">
        <td>{{id+1}}</td>
        <td><a [routerLink]="['/books',item.id,'views']">{{item.title}}</a></td>
        <td>{{item.author}}</td>

        <td>
          <button type = "button" class="btn btn-success"[routerLink]="['/books', item.id, 'edit']">Sửa</button>
        </td>
        <td>
          <button type = "button" class="btn btn-danger"(click)="onDeleteBook(item.id)">Xóa</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

