<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">CHI TIẾT SÁCH</h3>
  </div>
  <div class="panel-body">
    <button type = "button" class="btn btn-danger"[routerLink]="['/books']">Xem danh sách</button>
    <table class="table table-bordered table-hover" [style.margin-top.px]="15">
      <thead>
      <tr>
        <th>STT</th>
        <th>Tên Sách</th>
        <th>Nội Dung</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="booksmodels">
        <td>{{booksmodels.id}}</td>
        <td>{{booksmodels.title}}</td>
        <td>{{booksmodels.description}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
